.Menu{
    position: relative;
    z-index: 10;

    margin: 3em 0 0 4em;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-self: flex-start;
}



.drop-nav{
    position: relative;
}

.nav-button{
    position: relative;
    z-index: 1;
    
    padding: 0.5em 2em;
    
    width: 9em;

    border: 1px solid #AFE07B;
    border-radius: 1em;
    box-shadow: 1px 2px 2px #AFE07B;
    background-color: #DEF2C8;
    
    color: #780262;
    font-weight: bold;
    font-size: 1.5em;
}

.nav-button:focus {
    outline: 0;
}

.nav-button:hover {
    background-color: #780262;    
    box-shadow: 1px 2px 2px #780262;
    border: 1px solid #280121;
    color: #DEF2C8;
}

.nav-item{
    position: absolute;
    top: 0;
    
    max-width: 9em;

    padding: 0.5em 2em;
    
    border: 1px solid #AFE07B;
    border-radius: 1em;
    box-shadow: 1px 2px 2px #AFE07B;
    background-color: #DEF2C8;
    
    color: #780262;
    font-size: 1.5em;
    text-align: center;

    transition: top 0.5s;
}

.nav-item:hover{
    background-color: #780262;    
    box-shadow: 1px 2px 2px #780262;
    border: 1px solid #280121;
    color: #DEF2C8;}

.open-1{
    top: 2.5em;
}
.open-2{
    top: 5em;
}
.open-3{
    top: 7.5em;
}