.Menu{
    position: relative;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.drop-nav{
    position: relative;
}

.nav-button{
    position: relative;
    z-index: 1;
    
    padding: 0.5em 2em;
    
    width: 9em;

    border: none;
    border-radius: 1em;
    
    background-color: none;

    font-size: 1em;
}

.nav-button:focus {
    background-color: #ffff00;
    border-radius: 1em;
    outline: 0;
}

.nav-item{
    position: absolute;
    top: 0;
    
    max-width: 9em;

    padding: 0.5em 2em;

    background-color: orange;
    border-radius: 1em;

    font-size: 1em;
    text-align: center;

    transition: 0.5s;
}

.nav-item:hover{
    opacity: 0.7;
}

.open-1{
    top: 2.5em;
}
.open-2{
    top: 5em;
}

.open-3{
    top: 7.5em;
}