.Menu{
    width: 100%;
    padding: 2em 4em 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.drop-nav{
    position: relative;
}

.nav-button{
    position: relative;
    z-index: 1;
    font-size: 1em;

}

.nav-item{
    position: absolute;
    top: 0;
    height: 2em;
    transition: 0.5s;
}

.open-1{
    top: 2em;
}
.open-2{
    top: 4em;
}