.Menu{
    position: relative;
    z-index: 10;

    margin: 2em;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.drop-nav{
    position: relative;
}

.nav-button{
    position: relative;
    z-index: 1;
    
    padding: 0.5em 2em;
    
    width: 9em;

    border-radius: 1em;
    box-shadow: 1px 2px 2px #780262;
    border: 1px solid #280121;

    background-color: #DEF2C8;
    
    color: #780262;
    font-weight: bold;
    font-size: 1.5em;
}

.nav-button:focus {
    outline: 0;
}

.nav-button:hover, .nav-item:hover {
    background-color: #DEF2C8;    
    box-shadow: 1px 2px 2px #538320;
    border: 1px solid #538320;
    color: #538320;
    cursor: pointer;
}

.nav-item{
    position: absolute;
    top: 0;
    
    max-width: 9em;

    padding: 0.5em 2em;
    
    border: 1px solid #280121;
    border-radius: 1em;
    box-shadow: 1px 2px 2px #780262;
    background-color: #DEF2C8;
    
    color: #780262;
    font-size: 1.5em;
    text-align: center;

    transition: top 0.5s;
}
.open-1{
    top: 2.5em;
}
.open-2{
    top: 5em;
}
.open-3{
    top: 7.5em;
}


@media only screen and (max-width: 44em) {
    .Menu{
        margin: 2em 25% 0;
    }
}