/* LOGIN CONTAINER */
.LoginContainer{
    position: relative;
    
    width: 50%;
    height: 60%;
    
    margin-top: 3em;
    
    border-radius: 1em;
    box-shadow: 1px 2px 2px #DEF2C8;

    background-color: #DEF2C8;
    background-image: url('../images/patterns/bwcircleclear.png');
    color: #780262;
}

.banner-hr{
    border: 1px solid #538320;
    background-color: #538320;
    margin: 2em;

}

.banner-button{
    padding: 0.3em;
    font-size: 1em;
    border-radius: 0.5em;
    border: 1px solid #280121;
    /* box-shadow: 1px 2px 2px #780262; */
    background-color: #780262;

    color: #DEF2C8;
    font-weight: bold;
}
.banner-button:focus{
    outline: none;
}
.banner-button:hover{
    opacity: 0.8;
    cursor: pointer;
}
.banner-side{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 35%;
    height: 100%;

    border-radius: 1em 0 0 1em;
    border: 1px solid #538320;
    box-shadow: 1px 2px 2px #538320;

    background-color: rgb(175, 224, 123, 0.95);

    transition: 1.5s;
}

.BannerSide > div > h2{
    background-color: rgb(175, 224, 123);
    border: 1px solid #538320;

    border-radius: 5em;
    padding: 1em 0;
}

.BannerSide > div > h5{
    margin: 0.5em;
}

.form-side{
    position: absolute;
    top: 0;
    left: 35%;

    width: 65%;
    height: 100%;

    border-radius: 0 1em 1em 0;
    border: 1px solid #538320;
    box-shadow: 1px 2px 2px #538320;

    background-color: #DEF2C8;

    transition: 1.5s;
}

.switch-c-form{
    left: 0%;
    border-radius: 1em 0 0 1em;
}

.switch-c-banner{
    left: 65%;
    border-radius: 0 1em 1em 0;
}


@media only screen and (max-width: 44em) {
    .LoginContainer{
        width: 100%;
    }
}

/* BANNER SIDE */
.BannerSide{
    position: relative;
    height: 100%;
    width: 100%;
}

.banner-signup{
    position: absolute;
    top: 100%;
    width: 100%;

    opacity: 0;
    visibility: hidden;
    
    text-align: center;

    transition: opacity .2s, 1s;
}

.banner-login{
    position: absolute;
    top: 25%;
    width: 100%;

    opacity: 1;

    text-align: center;
    transition: opacity .1s, 1s;
}

.switch-banner-signup{
    top: 25%;
    opacity: 1;
    visibility: visible;
}

.switch-banner-login{
    top: -137%;
    opacity: 0;
    visibility: hidden;
}

/* FORM SIDE */
.LoginSide{
    position: relative;
    height: 100%;
    width: 100%;
}

.login-form, .signup-form{
    width: 60%;
}

.login-form > label > h5, .signup-form > label > h5{
    margin: 0.5em;
    text-align: left;
}

.login-form > label > input, .signup-form > label > input{
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #280121;
    border-radius: 0.5em;
}

.login-form > label > input:focus, .signup-form > label > input:focus{
    width: 100%;
    outline: 0;
}

/* Form Submit Buttons */
.submit-button{   
    margin: 1.5em 25% 0;
    padding: 0.3em;
    
    background-color: #780262;
    border-radius: 0.5em;
    border: 1px solid #280121;
    
    color: #DEF2C8;
    font-size: 0.9em;
    font-weight: bold;
}

.submit-button:focus{
    outline: none;
}

.submit-button:hover{
    opacity: 0.8;
    cursor: pointer;
}

/* Login-side transitions */
.login-signup{
    position: absolute;
    top: 15%;
    right: -40%;
    
    width: 100%;

    opacity: 0;
    visibility: hidden;
    
    text-align: center;

    transition: 1s;
}

.switch-login-signup{
    top: 15%;
    right: 0;
    opacity: 1;
    visibility: visible;
}

.login-login{
    position: absolute;
    top: 29%;
    right: 0;

    width: 100%;

    opacity: 1;

    text-align: center;
    transition: 1s;
}

.switch-login-login{
    top: 29%;
    right: 40%;

    opacity: 0;
    visibility: hidden;
}






