/* LOGIN CONTAINER */
.LoginContainer{
    position: relative;
    
    width: 50%;
    height: 60%;
    
    margin-top: 3em;
    
    border-radius: 0.5em;
    border: 1px solid gray;
    box-shadow: 1px 2px 2px gray;

    background-color: pink;
    background-image: url('../images/patterns/bwcircleclear.png')
}

.banner-side{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 35%;
    height: 100%;

    border-radius: 0.5em;
    border: 1px solid gray;
    box-shadow: 1px 2px 2px gray;

    background-color: black;
    color: lightgray;

    transition: 2s;
}

.form-side{
    position: absolute;
    top: 0;
    left: 35%;

    width: 65%;
    height: 100%;

    border-radius: 0.5em;
    border: 1px solid gray;
    box-shadow: 1px 2px 2px gray;

    background-color: lightgray;

    transition: 2s;
}

.switch-c-form{
    left: 0%;
}

.switch-c-banner{
    left: 65%;
}


@media only screen and (max-width: 44em) {
    .LoginContainer{
        width: 100%;
    }
}

/* BANNER SIDE */
.BannerSide{
    position: relative;
    color: lightgray;
}

.banner-signup{
    position: absolute;

    top: 100em;

    color: lightgray;
}

.banner-login{
    position: absolute;
    left: -5.5em;
    top: -10em;

    width: 10em;
    height: 15em;

    text-align: center;
    color: lightgray;

}

/* FORM SIDE */