.EntryContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.entry-ta{
    width: 100%;
    min-height: 60vh;

    padding: 1.5em 2em;
    margin: 1em;

    border: none;
    border-radius: 1em;
    box-shadow: 1px 1px 5px black;

    font-size: 1.5em;
    outline: none;
    resize: none;
    overflow: auto; 

}

@keyframes entry-focus {
    0% {box-shadow: 1px 1px 5px black}
    33% {box-shadow: 10px 10px 10px red}
    66% {box-shadow: -10px -10px 10px purple}
    100% {box-shadow: 1px 1px 5px black}
}

.entry-ta:valid{
    animation-name: entry-focus;
    animation-duration: 0.5s;
}


