.EntryContainer{
    width: 100%;

    margin: 2em;
    border-radius: 0.5em;
    background-color: white;
    box-shadow: 1px 1px 3px black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.entry-ta{
    width: 60%;
    min-height: 70vh;

    padding: 1.5em 2em;

    border: none;

    font-size: 1.5em;
    outline: none;
    resize: none;
}

@keyframes entry-focus {
    0% {}
    33% {}
    66% {}
    100% {}
}

/* .entry-ta:valid{
    animation-name: entry-focus;
    animation-duration: 0.5s;
} */




@media only screen and (max-width: 44em) {
    .entry-ta{
        width: 95%;
    }
}