.EntryContainer{
    width: 70%;

    margin: 2em;
    border-radius: 0.5em;
    background-color: #EFF6E0;
    box-shadow: 1px 1px 3px black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #090C08;
    font-weight: bold;
}

.entry-ta{
    width: 70%;
    min-height: 60vh;

    padding: 5em 2em;

    border: none;
    background-color: #EFF6E0;

    color: #090C08; 

    font-size: 1.5em;
    font-weight: 500;
    outline: none;
    resize: none;
}

.entry-info{
    margin: 1em;
    padding: 0.5em ;
    border-top: 1px solid #090C08;

}

@keyframes entry-focus {
    0% {}
    33% {}
    66% {}
    100% {}
}

/* .entry-ta:valid{
    animation-name: entry-focus;
    animation-duration: 0.5s;
} */




@media only screen and (max-width: 44em) {
    .EntryContainer{
        width: 100%;
    }
    .entry-ta{
        width: 95%;
        padding: 2em;

    }
}