.AnalyticsContainer{
    width: 100%;
    min-height: 50vh;

    margin-top: 2em;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.analytics-item{
    margin: 1em;
    padding: 1em;
    border: 1px solid gray;
    box-shadow: 1px 2px 5px gray;
}

.graph{
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 3;
}

.calendar{
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 3;
}


@media only screen and (max-width: 44em) {
    .AnalyticsContainer{
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .graph{
        grid-column-start: auto;
        grid-column-end: span 1;
        grid-row-start: auto;
        grid-row-end: span 1;
    }
    
    .calendar{
        grid-column-start: auto;
        grid-column-end: span 1;
        grid-row-start: auto;
        grid-row-end: span 1;
    }    
}